{% extends 'inventory/base.html' %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <select id="roomSelector" class="form-control" onchange="changeRoom()">
                {% for room_id, room in lab_rooms.items %}
                    <option value="{{ room.calendar_id }}">{{ room.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <iframe id="calendarFrame" title="Google Calendar"
                src="https://calendar.google.com/calendar/embed?src={{ default_calendar_id }}&mode=WEEK&height=600&wkst=1&bgcolor=%23ffffff&ctz={{ timezone }}"
                style="border: 0" 
                width="100%" 
                height="600">
            </iframe>
        </div>
    </div>
</div>

<script>
function changeRoom() {
    const selector = document.getElementById('roomSelector');
    const calendarFrame = document.getElementById('calendarFrame');
    const selectedCalendarId = selector.value;
    
    const baseUrl = 'https://calendar.google.com/calendar/embed';
    const params = new URLSearchParams({
        src: selectedCalendarId,
        mode: 'WEEK',
        height: '600',
        wkst: '1',
        bgcolor: '#ffffff',
        ctz: '{{ timezone }}'
    });
    
    calendarFrame.src = `${baseUrl}?${params.toString()}`;
}
</script>
{% endblock %}