{% extends 'inventory/base.html' %}
{% load tz %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-8">
            <select id="roomSelector" class="form-control" onchange="changeRoom()">
                {% for room_key, room in lab_rooms.items %}
                    <option value="{{ room.calendar_id }}" data-room-key="{{ room_key }}">
                        {{ room.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <a id="bookRoomButton" href="{% url 'create-reservation' 'room1' %}" class="btn btn-primary">
                Book This Room
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <iframe id="calendarFrame" title="Google Calendar"
                src="https://calendar.google.com/calendar/embed?src={{ default_calendar_id }}&mode=WEEK&height=600&wkst=1&bgcolor=%23ffffff&ctz={{ timezone }}&hl=en"
                style="border: 0"
                width="100%"
                height="600">
            </iframe>
        </div>
    </div>
</div>

<script>
function changeRoom() {
    const selector = document.getElementById('roomSelector');
    const calendarFrame = document.getElementById('calendarFrame');
    const bookRoomButton = document.getElementById('bookRoomButton');
    const selectedCalendarId = selector.value;
    const selectedRoomKey = selector.options[selector.selectedIndex].getAttribute('data-room-key');

    // Update calendar iframe
    const baseUrl = 'https://calendar.google.com/calendar/embed';
    const params = new URLSearchParams({
        src: selectedCalendarId,
        mode: 'WEEK',
        height: '600',
        wkst: '1',
        bgcolor: '#ffffff',
        ctz: '{{ timezone }}',
        hl: 'en'  // Added language parameter
    });

    calendarFrame.src = `${baseUrl}?${params.toString()}`;

    // Update booking button URL
    bookRoomButton.href = `/create-reservation/${selectedRoomKey}/`;
}
</script>
{% endblock %}